.about-shop {
  display: flex;
  justify-content: space-around;
  background: #141414;
  color: #fff;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  .calc-rem(12);
  padding: 55px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    margin: 0 0 30px;
    height: 76px;

    fill: currentColor;

    &_delivery {
      width: 95px;
    }

    &_cult-brands {
      width: 74px;
    }

    &_origin {
      width: 48px;
    }

    &_designers {
      width: 70px;
    }

    &_change {
      width: 64px;
    }
  }
}