@btn-bg: #E7234F;
@btn-text: #fff;
@btn-height: 40px;

.btn {
  display: inline-block;
  padding: 0 35px;
  cursor: pointer;
  transition: background .3s;
  vertical-align: middle;
  text-decoration: none;
  color: @btn-text;
  border: none;
  background: @btn-bg;
  &__text {
    .calc-rem(14);
    text-transform: uppercase;
    line-height: @btn-height;
    display: inline-block;
    height: @btn-height;
    vertical-align: middle;
    letter-spacing: 1px;
  }
  &:hover {
    .rgba(background, @btn-bg, .7);
  }
  &:active {
    transition: none;
    background: @btn-bg;
  }
  &_wide {
    width: 100%;
  }
  &_upper {
    text-transform: uppercase;
  }
  &_big {
    text-transform: uppercase;
    .btn__text {
      line-height: 60px;
      height: 60px;
    }
  }
  &_transparent {
    border: none;
    background: none;
  }
}
