.footer {
  background: #141414;
  color: rgba(255, 255, 255, 0.5);
  .calc-rem(12);

  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px 0;
  }

  &__bottom {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy-logo {
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    height: 37px;
  }

  &__copy-text {
    display: inline-block;
    vertical-align: middle;
  }

  &__payments-item {
    margin-left: 20px;
  }
}

.footer-social {
  &__item {
    margin: 0 15px 0 5px;
  }
}

.footer-nav {
  flex-grow: 1;

  &:last-child {
    flex-grow: 2;
  }

  &__link {
    letter-spacing: .5px;
    line-height: 2;
  }
}

.footer-contacts {
  flex-grow: 1;

  &__title {
    margin-bottom: 10px;
  }
}

.icon-visa {
  width: 58px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}

.icon-mastercard {
  width: 39px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}