.form {
  &__content {
    .clearfix();
  }
  &__row {
    margin-bottom: 20px;

    .clearfix();
  }
  &__column {
    float: left;
    min-height: 20px;

    &_left {
      width: 40%;
    }

    &_right {
      width: 60%;
    }
  }
  &__cell {
    float: left;
    width: 50%;
    &:first-child {
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }
}

.subscribe-form {
  display: flex;
  max-width: 580px;
  margin: 0 auto 40px;

  align-items: stretch;

  &__input {
    border-right: 0;
  }
}

.subscribe-snippet {
  margin: 0 0 5px;
  &__inner {
    padding: 55px 0 15px;
    text-align: center;
    background: #141414;
  }

  &__title {
    margin: 0 0 24px;
    letter-spacing: .5px;
    color: #ffffff;
    text-transform: uppercase;

    .calc-rem(14);
  }
}
