.main-gallery {
  position: relative;
  overflow: hidden;
  background: #EBEBEB;

  &__inner {
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    padding: 32px 0 0;
    align-items: center;
    position: relative;

    @media (min-width: (@portreit + @scrollbar)) {
      flex-direction: row;
      padding: 0;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__caption {
    .calc-rem(20);
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
    padding: 0 24px;
    position: absolute;

    @media (min-width: (@portreit + @scrollbar)) {
      padding: 80px 0 0 80px;
      max-width: 530px;
      text-align: left;
      position: relative;
    }
  }

  &__title {
    .calc-rem(32);
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.37;
    margin: 0;
    color: #141414;
    font-weight: 600;

    @media (min-width: (@portreit + @scrollbar)) {
      .calc-rem(54);
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 24px;
    text-align: center;

    @media (min-width: (@portreit + @scrollbar)) {
      position: absolute;
      left: 7%;
      bottom: 80px;
      text-align: left;
    }

    li {
      margin: 0 16px 0 0;

      &.slick-active {
        button {
          border-color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    li button {
      width: 16px;
      height: 15px;
      background: none;
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;

      &:before {
        display: none;
      }
    }
  }
}

.gallery {
  margin: 0 0 5px;
}

.gallery-nav {
  margin: 0 -5px 50px 0;
  position: relative;

  &__item {
    cursor: pointer;
    position: relative;

    &.slick-current,
    &:hover {
      &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 5px;
        bottom: 0;
        height: 5px;
        background: #E7234F;
      }
    }
  }

  &__img {
    display: block;
    margin-right: 5px;
    padding: 0;
    width: ~"calc(100% - 5px)";
  }

  &__btn {
    position: absolute;
    font-size: 55px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    height: 100%;
    line-height: 100%;
    top: 0;
    display: flex;
    align-items: center;

    &_next {
      right: 20px;
    }

    &_prev {
      left: 15px;
    }
  }
}

.slick {
  position: relative;

  &__btn {
    position: absolute;
    font-size: 55px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    height: 100%;
    line-height: 100%;
    top: 0;
    display: flex;
    align-items: center;

    &_next {
      right: 20px;
    }

    &_prev {
      left: 15px;
    }
  }
}