body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5714;
  padding: 0;
  margin: 0;

  letter-spacing: 1px;
  color: #141414;
  .calc-rem(14);
}

.container {
  max-width: 1180px;
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: (@portreit + @scrollbar)) {
    padding: 0 20px;
    min-width: 1180px;
  }

  &__head {
    text-align: center;
    margin: 35px 0 32px;
  }

  &__footer {
    padding: 35px 0 50px;
  }
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: #141414;
}

h1,
.headline {
  font-weight: 500;;
  .calc-rem(32);
  margin: 15px 0 20px;
  text-transform: uppercase;
}

.headline {
  &_s {
    .calc-rem(24);
  }
}

h2 {
  .calc-rem(15);
  margin: 15px 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: rgba(0, 0, 0, .5);
}

.h3 {
  .calc-rem(14);
  margin: 0 0 12px;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  margin: 16px 0;
}

ul,
menu,
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}

strong {
  font-weight: 500;
}

.icon {
  display: inline-block;
  vertical-align: middle;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &_wishlist {
    stroke: #8A8A8A;
    stroke-width: 2px;
  }

  &_close {
    fill: #8A8A8A;
  }

  &_vk {
    fill: #898989;
  }

  &_share {
    fill: #8A8A8A;
  }

  &_s {
    width: 12px;
    height: 12px;
  }

  &_m {
    width: 18px;
    height: 18px;
  }

  &_dark {
    fill: #141414;
  }

  &_light {
    fill: #fff;

    &.icon_wishlist {
      stroke: #fff;
    }
  }
}

.icon-text {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0 0 8px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .5px;
  .calc-rem(12);
  text-transform: uppercase;
}

.is-mobile {
  display: none;
}

.flex {
  display: flex;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centred {
  text-align: center;
}

.banner {
  background: #EBEBEB;

  &__inner {
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    padding: 0 24px 24px;
    justify-content: space-between;

    @media (min-width: (@portreit + @scrollbar)) {
      flex-direction: row;
      padding: 0;
    }
  }

  &__caption {
    .calc-rem(20);
    letter-spacing: 2px;
    font-weight: 100;
    order: 1;

    @media (min-width: (@portreit + @scrollbar)) {
      padding: 0 0 0 80px;
      order: 0;
    }
  }
}

.breadcrumbs {
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.5);
    .calc-rem(12);
  }
}

.categories {
  max-width: 80%;
  margin: 0 auto 24px;

  &__item {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child):after {
      content: '・';
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  &__link {
    .calc-rem(18);
    letter-spacing: .5px;
  }
}

.filter {
  &__top {
    padding: 17px 0;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
  }

  &__controls-item {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px;
    position: relative;
  }

  &__controls-link {
    display: block;
    cursor: pointer;
    padding: 5px 8px 3px 8px;
    transition: all .3s ease-out;
    color: #5E5E5E;

    &.is-selected {
      background: #E7234F;

      .filter__controls-elem {
        color: #fff;
      }

      .filter__controls-clear {
        display: inline-block;
      }
    }
  }

  &__controls-elem {
    transition: all .2s ease-out;
    display: inline-block;
    vertical-align: middle;

    strong {
      color: #141414;
    }
  }

  &__controls-clear {
    margin-left: 12px;
    display: none;;
    vertical-align: middle;
  }

  &__bottom {
    padding: 12px 12px 0;
  }

  &__result-item {
    margin: 4px 10px;
    display: inline-block;
    vertical-align: middle;
    .calc-rem(12);
    color: rgba(0, 0, 0, 0.5);
  }
}

.dropdown {
  border: 1px solid #D0D0D0;
  background: #FAFAFA;
  padding: 0 12px;

  &__selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    cursor: pointer;
  }

  &__icon {
    .calc-rem(26);
    color: rgba(0, 0, 0, 0.5);
  }
}

.sorting {
  &__link {
    display: inline-block;
    letter-spacing: .5px;
  }
}

.list {
  &__item {
    margin: 20px 0;
    font-weight: 300;
  }

  &_light {
    .list__link {
      color: #fff;
    }
  }
}

.sort-state {
  background-repeat: no-repeat;
  background-position: 100% 50%;

  &.is-desc {
    background-image: url('../img/svg/sort_desc.svg');
    padding-right: 15px;
  }

  &.is-asc {
    background-image: url('../img/svg/sort_asc.svg');
    padding-right: 15px;
  }
}

.buttons-snippet {
  margin-left: -6px;
  .btn {
    margin: 0 6px;
  }
}
