.nav {
  padding: 0 28px;

  @media (min-width: (@tablet + @scrollbar)) {
    display: flex;
    padding: 0;
    background: #5a5a5a;
  }

  &__item {
    box-sizing: content-box;
    text-align: center;
    text-transform: uppercase;
    text-overflow: clip;

    color: #fff;
    border: none;
    .calc-rem(12);
    position: relative;

    &:before {
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: all .25s ease-out;
    }

    &:not(:first-child) {
      &:before {
        @media (min-width: (@tablet + @scrollbar)) {
          transform: skewX(40deg);
        }
      }
    }

    @media (min-width: (@tablet + @scrollbar)) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }

    &.has-children {
      &:hover {
        @media (min-width: (@tablet + @scrollbar)) {
          &:not(:last-child) {
            &:before {
              position: absolute;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 12px solid #ffffff;
              content: '';
              bottom: -8px;
              left: 50%;
              content: '';
              z-index: 99;
              opacity: 1;
              visibility: visible;
              overflow: visible;
            }
          }
        }

        .nav-dropdown {
          opacity: 1;
          visibility: visible;
          overflow: visible;
        }
      }
    }

    &:not(:first-child) {
      @media (min-width: (@tablet + @scrollbar)) {
        transform: skewX(-40deg);
      }

      .nav__link {
        @media (min-width: (@tablet + @scrollbar)) {
          transform: skewX(40deg);
        }
      }
    }

    &:nth-child(1) {
      background-color: #efc519;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: #efc519;
        width: 200px;
        height: 100%;
        z-index: 0;
      }
    }

    &:nth-child(2) {
      background-color: #f36f2d;
    }

    &:nth-child(3) {
      background-color: #e7234f;
    }

    &:nth-child(4) {
      background-color: #a71e5d;
    }

    &:nth-child(5) {
      background-color: #652367;
    }

    &:nth-child(6) {
      background-color: #2aa2dc;
    }

    &:nth-child(7) {
      background-color: #82c341;
    }

    &:last-child {
      flex-basis: 70px;
      background: none;

      .nav__link {
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 13px;
        flex: 1;
      }
    }
  }

  &__link {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 9px 0 7px;
    position: relative;
    z-index: 2;
  }

  &__text,
  &__icon {
    position: relative;
    z-index: 2;
  }

  .icon {
    &_search {
      fill: #fff;
    }
  }
}

.nav-dropdown {
  text-align: left;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .25s ease-out;

  @media (min-width: (@tablet + @scrollbar)) {
    position: absolute;
    border-top: 8px solid transparent;
    top: 40px;
    left: 0;
    z-index: 99;
  }

  &__inner {
    padding: 22px 0 0;
    display: flex;
    white-space: nowrap;
  }

  &__col {
    color: #141414;
  }

  &__list {
    margin: 0 24px 32px;
    padding: 0;
  }

  &__list-item {
    margin: 10px 0;

    &_title {
      font-weight: 600;
    }
  }

  &__link {
    color: #141414;
    .calc-rem(14);
    text-transform: none;
  }
}

.brand-border {
  display: flex;
  overflow: hidden;
  background-color: #5a5a5a;

  &__item {
    height: 6px;
    flex-grow: 1;
    transform: skewX(-30deg);
    position: relative;

    &:nth-child(1) {
      background-color: #efc519;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: #efc519;
        width: 100%;
        height: 100%;
        transform: skewX(30deg);
      }
    }

    &:nth-child(2) {
      background-color: #f36f2d;
    }

    &:nth-child(3) {
      background-color: #e7234f;
    }

    &:nth-child(4) {
      background-color: #a71e5d;
    }

    &:nth-child(5) {
      background-color: #652367;
    }

    &:nth-child(6) {
      background-color: #2aa2dc;
    }

    &:nth-child(7) {
      background-color: #82c341;
    }

    &:nth-child(8) {
      background-color: #5a5a5a;
    }
  }
}

.nav-wrapper {
  position: relative;
}

.search-bar {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5A5A5A;

  &__container {
    display: flex;
    align-items: center;
  }

  &__field {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;

    .input {
      background: none;
      border: 0;
      .calc-rem(18);
      color: #fff;
    }
  }

  &__icon {
    width: 60px;
    text-align: center;
  }
}

.autocomplete {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 18px 12px 24px;

  &__link {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    margin: 4px -12px;

    &:hover {
      background: rgba(42, 162, 220, 0.15)
    }
  }

  &__media {
    width: 50px;
    margin-right: 8px;
  }

  &__btn {
    margin-top: 10px;
  }
}
