<div class="popup-call popup popup_float popup_corner">
  <div class="popup__inner">
    <p>Мы перезвоним вам в течение двух часов.</p>

    <form class="form" action="">
      <div class="input-container">
        <input type="text" name="" id="" class="input" placeholder="Имя">
      </div>

      <div class="input-container">
        <input type="text" name="" id="" class="input" placeholder="Телефон в любом формате">
      </div>

      <button class="btn btn_wide btn_primary btn_m">
        <span class="btn__text">Заказать звонок</span>
      </button>
    </form>

    <div class="centred">
      <a href="" class="btn">
        <span class="btn__text">
          Закрыть окно
        </span>
      </a>
    </div>
  </div>
</div>