<div class="popup popup_float popup-tile">
  <div class="popup-tile__actions">
    <a href="" class="popup-tile__actions-left quick-look-control">
      <svg class="icon icon_quick-look" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <use xlink:href="icons/svg.svg#view"></use>
      </svg>

      <span class="icon-text">Быстрый просмотр</span>
    </a>

    <a class="popup-tile__actions-right share-control" href="">
      <svg class="icon icon_share" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <use xlink:href="icons/svg.svg#share"></use>
      </svg>
    </a>

    <a class="popup-tile__actions-right wishlist-control" href="">
      <svg class="icon icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <use xlink:href="icons/svg.svg#wishlist"></use>
      </svg>
    </a>
  </div>

  <div class="popup-tile__content">
    <div class="product-slider slick">
      <div class="product-slider__inner js-product-slider">
        <img class='img' src="img/fish/01.jpg" alt="">
        <img class='img' src="img/fish/01.jpg" alt="">
        <img class='img' src="img/fish/01.jpg" alt="">
      </div>
      <div class="product-slider__btn slick__btn slick__btn_prev js-product-slider-prev"><i class="fa fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="product-slider__btn slick__btn slick__btn_next js-product-slider-next"><i class="fa fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
  </div>

  <div class="popup-tile__footer">
    <h2 class="popup-tile__product-name">Подвесной светильник, LATITUDE Marmor Trom</h2>

    <div class="popup-tile__product-info">
      <div class="price price_inline">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>

      <a href="" class="btn btn_primary btn_s">
        <span class="btn__text">В корзину</span>
      </a>
    </div>
  </div>
</div>