<div class="about-shop">
  <div class="about-shop__item">
    <svg class="about-shop__icon about-shop__icon_delivery" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/ico.svg#delivery"></use>
    </svg>
    <span class="about-shop__text">оперативная<br/>доставка</span>
  </div>
  <div class="about-shop__item">
    <svg class="about-shop__icon about-shop__icon_cult-brands" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/ico.svg#cult-brands"></use>
    </svg>
    <span class="about-shop__text">культовые<br/>бренды</span>
  </div>
  <div class="about-shop__item">
    <svg class="about-shop__icon about-shop__icon_origin" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/ico.svg#original"></use>
    </svg>
    <span class="about-shop__text">гарантия<br/>подлинности</span>
  </div>
  <div class="about-shop__item">
    <svg class="about-shop__icon about-shop__icon_designers" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/ico.svg#designers"></use>
    </svg>
    <span class="about-shop__text">особенные условия<br/>для дизайнеров</span>
  </div>
  <div class="about-shop__item">
    <svg class="about-shop__icon about-shop__icon_change" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/ico.svg#rechange"></use>
    </svg>
    <span class="about-shop__text">удобный обмен<br/>и возврат</span>
  </div>
</div>