<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/product-cube.png" alt="">
          <span class="cover-tile__contain">
            <span class="cover-tile__elem cover-tile__text cover-tile__text_xl">Блог</span>
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/product-cube.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <span class="cover-tile__elem cover-tile__text">Скандинавская квартира: штрихи к портрету</span>
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/product-cube.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <span class="cover-tile__elem cover-tile__text">Скандинавская квартира: штрихи к портрету</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>