<div class="banner">
  <figure class="banner__inner">
    <figcaption class="banner__caption">
      <p>
        <strong>StoryStore</strong> — интернет-магазин дизайнерских вещей для людей с исключительным вкусом. Создать современное и актуальное пространство просто. Мы собрали в одном месте разные стили и категории, доступные решения и коллекционные авторские вещи
      </p>
    </figcaption>

    <img class="banner__media img" src="img/fish/home-page-banner.png" alt="">
  </figure>
</div>