<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>

    <div class="grid__col grid__col_33 tile">
      <div class="grid__snippet tile">
        <a class="cover-tile" href="">
          <img class='img' src="img/fish/small-product1.png" alt="">
          <span class="cover-tile__contain cover-tile__contain_bg">
            <img src="http://www.zippycart.com/ecommerceimages/wp-content/uploads/2010/12/Shopify-bag-and-logotype.png" alt="" class="cover-tile__elem">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
