<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/01.jpg" alt="">
        </a>

        <!--div class="popup popup-tile">
          <div class="popup-tile__actions">
            <a href="" class="popup-tile__actions-left quick-look-control">
              <svg class="icon icon_quick-look" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#view"></use>
              </svg>

              <span class="icon-text">Быстрый просмотр</span>
            </a>

            <a class="popup-tile__actions-right share-control" href="">
              <svg class="icon icon_share" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#share"></use>
              </svg>
            </a>

            <a class="popup-tile__actions-right wishlist-control" href="">
              <svg class="icon icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#wishlist"></use>
              </svg>
            </a>
          </div>

          <div class="popup-tile__content">
            <div class="product-slider slick">
              <div class="product-slider__inner js-product-slider">
                <img class='img' src="img/fish/01.jpg" alt="">
                <img class='img' src="img/fish/01.jpg" alt="">
                <img class='img' src="img/fish/01.jpg" alt="">
              </div>
              <div class="product-slider__btn slick__btn slick__btn_prev js-product-slider-prev"><i class="fa fa fa-angle-left" aria-hidden="true"></i></div>
              <div class="product-slider__btn slick__btn slick__btn_next js-product-slider-next"><i class="fa fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
          </div>

          <div class="popup-tile__footer">
            <h2 class="popup-tile__product-name">Подвесной светильник, LATITUDE Marmor Trom</h2>

            <div class="popup-tile__product-info">
              <div class="price">
                <div class="price__current">19 900</div>
                <div class="price__old">22 200</div>
              </div>

              <a href="" class="btn btn_primary btn_s">
                <span class="btn__text">В корзину</span>
              </a>
            </div>
          </div>
        </div-->
      </div>
    </div>

    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/02.jpg" alt="">
        </a>

        <!--div class="popup popup-tile">
          <div class="popup-tile__actions">
            <a href="" class="popup-tile__actions-left quick-look-control">
              <svg class="icon icon_quick-look" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#view"></use>
              </svg>

              <span class="icon-text">Быстрый просмотр</span>
            </a>

            <a class="popup-tile__actions-right share-control" href="">
              <svg class="icon icon_share" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#share"></use>
              </svg>
            </a>

            <a class="popup-tile__actions-right wishlist-control" href="">
              <svg class="icon icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="icons/svg.svg#wishlist"></use>
              </svg>
            </a>
          </div>

          <div class="popup-tile__content">
            <div class="product-slider slick">
              <div class="product-slider__inner js-product-slider">
                <img class='img' src="img/fish/02.jpg" alt="">
                <img class='img' src="img/fish/02.jpg" alt="">
                <img class='img' src="img/fish/02.jpg" alt="">
              </div>
              <div class="product-slider__btn slick__btn slick__btn_prev js-product-slider-prev"><i class="fa fa fa-angle-left" aria-hidden="true"></i></div>
              <div class="product-slider__btn slick__btn slick__btn_next js-product-slider-next"><i class="fa fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
          </div>

          <div class="popup-tile__footer">
            <h2 class="popup-tile__product-name">Подвесной светильник, LATITUDE Marmor Trom</h2>

            <div class="popup-tile__product-info">
              <div class="price">
                <div class="price__current">19 900</div>
                <div class="price__old">22 200</div>
              </div>

              <a href="" class="btn btn_primary btn_s">
                <span class="btn__text">В корзину</span>
              </a>
            </div>
          </div>
        </div-->
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/03.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/04.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/05.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/06.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/07.jpg" alt="">
        </a>
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/08.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/09.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
