<div class="product-grid">
  <div class="product-grid__col product-grid__col_66">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/01.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>

    {{>popup/product2}}
  </div>

  <div class="product-grid__col">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/02.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>

    {{>popup/product}}
  </div>

  <div class="product-grid__col">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/03.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/04.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/05.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/06.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col product-grid__col_66 product-grid__col_right">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/09.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col product-grid__col_right">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/07.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="product-grid__col product-grid__col_right">
    <a href='' class="product-grid__link">
      <img class='product-grid__media img' src="img/fish/08.jpg" alt="">
    </a>

    <div class="product-grid__details">
      <a href="" class="product-grid__title">Karlsson Colour Clock aluminum Ø30 см</a>
      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>
</div>
