<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/big-product.png" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product2.png" alt="">
        </a>
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product2.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product1.png" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product1.png" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product1.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product1.png" alt="">
        </a>
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/small-product1.png" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/big-product.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>