<div class="grid">
  <div class="grid__row">
    <div class="grid__col _33">
      <div class="grid__snippet"></div>
    </div>

    <div class="grid__col _33">
      <div class="grid__snippet"></div>
    </div>

    <div class="grid__col _33">
      <div class="grid__snippet"></div>
    </div>
  </div>

  <div class="grid__row">
    <div class="grid__col _66">
      <div class="grid__snippet"></div>
    </div>

    <div class="grid__col _33">
      <div class="grid__snippet"></div>
    </div>
  </div>

  <div class="grid__row">
    <div class="grid__col _33">
      <div class="grid__snippet"></div>
    </div>

    <div class="grid__col _66">
      <div class="grid__snippet"></div>
    </div>
  </div>
</div>