<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/01.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/02.jpg" alt="">
        </a>
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/03.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/04.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/05.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _33 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/06.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid tile">
  <div class="grid__row tile">
    <div class="grid__col _33 tile is-vertical">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/07.jpg" alt="">
        </a>
      </div>

      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/08.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="grid__col _66 tile">
      <div class="grid__snippet tile">
        <a href=''>
          <img class='img' src="img/fish/09.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
