<div class="subscribe-snippet">
  <div class="subscribe-snippet__title">Дарим скидку 5% - подпишитесь на истории<br/>и новости про дизайн и бренды</div>
  <form class="subscribe-form" action="subscribe_submit" method="get" accept-charset="utf-8">
    <input class="subscribe-form__input input" type="text" placeholder="Адрес эл. почты" />
    <button class="subscribe-form__btn btn"><span class="btn__text">подписаться</span></button>
  </form>
</div>