
<div class="subscribe-snippet">
  <div class="brand-border">
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
  </div>

  <div class="subscribe-snippet__inner">
    <div class="subscribe-snippet__title">Дарим скидку 5% - подпишитесь на истории и новости про дизайн и бренды</div>
    <form class="sibling-form form form_580" action="subscribe_submit">
      <div class="sibling-form__container">
        <input class="sibling-form__input input input_dark-theme" type="text" placeholder="Адрес эл. почты" />
        <button class="sibling-form__btn btn btn_primary"><span class="btn__text">подписаться</span></button>
      </div>
      <div class="form__message is-successfully">Введите корректный адрес электронной почты</div>
    </form>
  </div>

  <div class="brand-border">
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
    <span class="brand-border__item"></span>
  </div>
</div>
