<div class="popup popup_global popup_float">
  <div class="popup__inner">
    <a href="" class="popup__close close-control">
      <svg class="icon icon_close" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <use xlink:href="icons/svg.svg#close"></use>
      </svg>
    </a>

    <div class="h3">Добавлено в корзину</div>
    <p>В корзине 5 товаров на сумму 19 900 ₽.</p>

    <div class="buttons-snippet">
      <a href="" class="btn btn_primary btn_s">
        <span class="btn__text">Оформить заказ</span>
      </a>

      <a href="" class="btn btn_s">
        <span class="btn__text">Посмотреть корзину</span>
      </a>
    </div>
  </div>
</div>