<footer class="footer">
  <div class="container">
    <div class="footer__top flex">
      <nav class="footer-nav">
        <li class="footer-nav__item"><a class="footer-nav__link">New </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Дом </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Кухня </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Ванная </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Мебель </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Аксессуары </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Детям</a></li>
      </nav>

      <nav class="footer-nav">
        <li class="footer-nav__item"><a class="footer-nav__link">О компании </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Бренды </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Доставка и оплата </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Возврат </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">B2B </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Блог </a></li>
        <li class="footer-nav__item"><a class="footer-nav__link">Контакты</a></li>
      </nav>

      <div class="footer-contacts">
        <div class="footer-contacts__title">Узнавайте первыми об акциях и новинках</div>
        <div class="subscribe-form">
          <input class="subscribe-form__input input" type="text" placeholder="Адрес эл. почты" />
          <button class="subscribe-form__btn btn"><span class="btn__text">подписаться</span></button>
        </div>

        <div class="footer-contacts__title">Присоединяйтесь к нам в социальных медиа</div>
        <div class="footer-social">
          <a class="footer-social__item icon icon_facebook"></a>
          <a class="footer-social__item icon icon_vk"></a>
          <a class="footer-social__item icon icon_inst"></a>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__desc">
        <p class="footer__contacts">Москва, Большая Новодмитровская, 36, стр. 9. +7 495 966-34-32, info@storystore.ru</p>
        <p class="footer__copy">&copy; 2011–2017 StoryStore — дизайнерская мебель, светильники, посуда и предметы интерьера</p>
      </div>

      <div class="footer__payments">
        <span class="footer__payments-item"></span>
        <span class="footer__payments-item"></span>
      </div>
    </div>
  </div>
</footer>
