<footer class="footer footer_light">
  <div class="container">
    <div class="footer__bottom">
      <div class="footer__desc">
        <p class="footer__contacts">Москва, <span>Большая Новодмитровская, 36, стр. 9.</span> <strong>+7 495 966-34-32,</strong> <span>info@storystore.ru</span></p>

        <div class="footer__payments is-mobile">
          <svg class="footer__payments-item icon icon_dark icon_visa" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#visa"></use>
          </svg>
          <svg class="footer__payments-item icon icon_dark icon_mastercard" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#mc"></use>
          </svg>
        </div>

        <p class="footer__copy">
          <span class="footer__copy-text footer__copy-year">&copy; 2011–2017</span>
          <svg class="footer__copy-logo icon_dark" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#footer-logo"></use>
          </svg>
          <span class="footer__copy-text footer__copy-desc">StoryStore — дизайнерская мебель, светильники, посуда и предметы интерьера</span>
        </p>
      </div>

      <div class="footer__payments is-desktop">
        <svg class="footer__payments-item icon icon_dark icon_visa" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#visa"></use>
        </svg>
        <svg class="footer__payments-item icon icon_dark icon_mastercard" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#mc"></use>
        </svg>
      </div>
    </div>

    <div class="brand-border">
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
      <span class="brand-border__item"></span>
    </div>
  </div>
</footer>
