<div class="main-gallery js-gallery">
  <div class="main-gallery__item">
    <figure class="main-gallery__inner">
      <img class="main-gallery__media img" src="img/fish/home-slide.png" alt="">
      <figcaption class="main-gallery__caption">
        <h2 class="main-gallery__title">на своих местах</h2>
        <p class="main-gallery__text">Системы хранения и организация пространства</p>
      </figcaption>
    </figure>
  </div>

  <div class="main-gallery__item">
    <figure class="main-gallery__inner">
      <img class="main-gallery__media img" src="img/fish/home-slide.png" alt="">
      <figcaption class="main-gallery__caption">
        <h2 class="main-gallery__title">2на своих местах2</h2>
        <p class="main-gallery__text">Системы хранения и организация пространства</p>
      </figcaption>
    </figure>
  </div>

  <div class="main-gallery__item">
    <figure class="main-gallery__inner">
      <img class="main-gallery__media img" src="img/fish/home-slide.png" alt="">
      <figcaption class="main-gallery__caption">
        <h2 class="main-gallery__title">3на своих местах3</h2>
        <p class="main-gallery__text">Системы хранения и организация пространства</p>
      </figcaption>
    </figure>
  </div>
</div>