<header class="header">
  <div class="container">

    {{>toplinks}}

    <div class="header__content flex">
      <div class="shop-contacts">
        <svg class="shop-contacts__item shop-contacts__icon icon icon_phone" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#phone"></use>
        </svg>

        <div class="shop-contacts__text">
          <span class="shop-contacts__tel">+7 495 966-34-32</span>

          <div class="shop-contacts__item popup-wrapper">
            <a class="shop-contacts__link" href="">Заказать звонок</a>

            {{>popup/callme}}
          </div>
        </div>
      </div>

      <div class="shop-controls is-mobile">
        <a href="" class="shop-controls__link">
          <svg class="shop-controls__icon icon icon_menu" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#menu"></use>
          </svg>
        </a>
      </div>

      <a href="" class="top-logo">
        <img src="img/logo.svg" class="top-logo__img">
      </a>

      <menu class="shop-controls">
        <li class="shop-controls__item popup-wrapper is-desktop">
          <a class="shop-controls__link" href="">
            <span class="shop-controls__text">Войти</span>
          </a>

          {{>popup/login}}
        </li>

        <li class="shop-controls__item is-desktop">
          <a class="shop-controls__link shop-controls__link_wishlist" href="">
            <svg class="shop-controls__icon icon icon_white icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#wishlist"></use>
            </svg>
            <span class="shop-controls__count">12</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link shop-controls__link_cart" href="">
            <svg class="shop-controls__icon icon icon_cart" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#cart"></use>
            </svg>
            <span class="shop-controls__count">5</span>
            <span class="shop-controls__text is-desktop">Корзина</span>
          </a>
        </li>
      </menu>
    </div>

    <div class="nav-wrapper">
      <div class="mobile-menu">
        <div class="mobile-menu__item">
          <a class="mobile-menu__link" href="">
            Каталог
          </a>
        </div>
        <div class="mobile-menu__item">
          <a class="mobile-menu__link" href="">
            <svg class="mobile-menu__icon icon icon_search" xmlns="http://www.w3.org/2000/svg" style="fill: #fff;" version="1.1">
              <use xlink:href="icons/svg.svg#search"></use>
            </svg>
            <span class="mobile-menu__text">Поиск</span>
          </a>
        </div>
      </div>
      {{>nav}}
      {{>searchbar}}
    </div>
  </div>
</header>
