<header class="header">
  <div class="container">
    {{>toplinks}}
    <div class="header__content flex">
      <div class="top-contacts">
        <svg class="top-contacts__icon icon icon_phone" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#phone"></use>
        </svg>
        <span class="top-contacts__text">+7 495 966-34-32</span>
        <a class="top-contacts__link" href="">Заказать звонок</a>
      </div>
      <a href="" class="top-logo">
        <img src="img/logo.svg" class="top-logo__img">
      </a>
      <menu class="top-controls flex">
        <li class="top-controls__item">
          <a class="top-controls__link flex" href="">
            <span class="top-controls__text">Войти</span>
          </a>
        </li>

        <li class="top-controls__item">
          <a class="top-controls__link flex" href="">
            <svg class="top-controls__icon icon icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#wishlist"></use>
            </svg>
            <span class="top-controls__count"></span>
          </a>
        </li>

        <li class="top-controls__item">
          <a class="top-controls__link flex" href="">
            <svg class="top-controls__icon icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#cart"></use>
            </svg>
            <span class="top-controls__count"></span>
            <span class="top-controls__text">Корзина</span>
          </a>
        </li>
      </menu>
    </div>
    {{>nav}}
  </div>
</header>
