<nav class="nav flex">
  <a class="nav__link" href="">
    <span class="nav__text">Дом</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Кухня</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Ванная</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Мебель</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Аксессуары</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Детям</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Бренды</span>
  </a>
  <a class="nav__link" href="">
    <span class="nav__text">Поиск</span>
    <span class="nav__icon icon icon_search"></span>
  </a>
</nav>
