<nav class="nav flex">
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Дом</span>
    </a>

    <div class="nav-dropdown">
      <div class="nav-dropdown__inner popup">
        <div class="nav-dropdown__col">
          <ul class="nav-dropdown__list">
            <li class="nav-dropdown__list-item nav-dropdown__list-item_title">АКСЕССУАРЫ К СВЕТИЛЬНИКАМ </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Дизайнерские патроны </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Лампы </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Потолочные чашки </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Цветные текстильные провода</a>
            </li>
          </ul>

          <ul class="nav-dropdown__list">
            <li class="nav-dropdown__list-item nav-dropdown__list-item_title">ЭЛЕКТРОФУРНИТУРА </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Диммеры </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Выключатели</a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Потолочные чашки </a>
            </li>
          </ul>
        </div>

        <div class="nav-dropdown__col">
          <ul class="nav-dropdown__list">
            <li class="nav-dropdown__list-item nav-dropdown__list-item_title">ЭЛЕКТРОФУРНИТУРА </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Диммеры </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Выключатели</a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Потолочные чашки </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Цветные текстильные провода</a>
            </li>
          </ul>
        </div>

        <div class="nav-dropdown__col">
          <ul class="nav-dropdown__list">
            <li class="nav-dropdown__list-item nav-dropdown__list-item_title">СВЕТИЛЬНИКИ </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Бра </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Напольные светильники </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Торшеры </a>
            </li>
            <li class="nav-dropdown__list-item">
              <a class="nav-dropdown__link" href="">Настольные светильники </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Кухня</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Ванная</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Мебель</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Аксессуары</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Детям</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Бренды</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="">
      <span class="nav__text">Поиск</span>
      <svg class="nav__icon icon icon_search" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <use xlink:href="icons/svg.svg#search"></use>
      </svg>
    </a>
  </li>
</nav>
