<ul class="pagination">
  <li class="pagination__item">
    <a href="" class="pagination__link pagination__link_prev btn">
      <i class="fa fa fa-angle-left" aria-hidden="true"></i>
      <span class="btn__text">Назад</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn is-active">
      <span class="btn__text">1</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">2</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">3</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">4</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">5</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">...</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link btn">
      <span class="btn__text">14</span>
    </a>
  </li>
  <li class="pagination__item">
    <a href="" class="pagination__link pagination__link_next btn">
      <span class="btn__text">Вперед</span>
      <i class="fa fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </li>
</ul>