<div class="overlay"></div>
<div class="popup popup-window popup-quick-order">
  <a href="" class="popup__close close-control">
    <svg class="icon icon_close" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/svg.svg#close"></use>
    </svg>
  </a>

  <div class="popup-window__head popup-window__inner">
    <h1 class="headline headline_s">Быстрый заказ</h1>
  </div>

  <div class="popup-window__product">
    <div class="popup-window__product-left">
      <img src="img/fish/product-mini.png" alt="" class="img">
    </div>

    <div class="popup-window__product-right">
      <div class="h3">Подвесной светильник, LATITUDE Marmor Trom</div>

      <div class="price price_s">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>
    </div>
  </div>

  <div class="popup-window__inner">
    <p>Мы перезвоним вам в течение двух часов и обсудим детали заказа.</p>

    <form action="">
      <div class="input-container">
        <input type="text" name="" id="" class="input" placeholder="Имя">
      </div>

      <div class="input-container">
        <input type="text" name="" id="" class="input" placeholder="Телефон в любом формате">
      </div>

      <div class="input-container">
        <textarea class="textarea" name="" placeholder="Комментарий (необязательно)"></textarea>
      </div>

      <button class="btn btn_wide btn_primary btn_m">
        <span class="btn__text">Заказать</span>
      </button>
    </form>
  </div>
</div>