<div class="overlay"></div>
<div class="popup popup-window">
  <a href="" class="popup__close close-control">
    <svg class="icon icon_close" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/svg.svg#close"></use>
    </svg>
  </a>

  <div class="popup-window__head popup-window__inner">
    <h1 class="headline headline_s">Подвесной светильник, LATITUDE Marmor Trom</h1>
    <h2 class="sub-headline">Подвесной светильник из мрамора, арт. V2053</h2>
  </div>

  <div class="product-media">
    <div class="product-card product-card_float popup">
      <div class="product-card__avail">В наличии</div>
      <div class="price">
        <div class="price__current">19 900</div>
        <div class="price__old">22 200</div>
      </div>

      <div class="dropdown product-card__options">
        <div class="dropdown__selected">
          <span class="dropdown__text">Выберите цвет</span>
          <i class="dropdown__icon fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>

      <a href="" class="btn btn_wide btn_primary btn_m">
        <span class="btn__text">В корзину</span>
      </a>

      <a href="" class="btn btn_wide btn_s">
        <span class="btn__text">Быстрый заказ</span>
      </a>

      <div class="product-card__actions">
        <a href="" class="product-card__actions-item">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#wishlist-dark"></use>
          </svg>
        </a>

        <a href="" class="product-card__actions-item">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#share"></use>
          </svg>
        </a>
      </div>
    </div>

    <ul class="gallery js-slider-for">
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
      <li class="gallery__item">
        <img src="img/fish/product.png" alt="" class="gallery__img img">
      </li>
    </ul>

    <div class="gallery-nav">
      <div class="gallery-nav__inner js-slider-nav">
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
        <div class="gallery-nav__item">
          <img src="img/fish/product-mini.png" alt="" class="gallery-nav__img">
        </div>
      </div>

      <div class="gallery-nav__btn gallery-nav__btn_prev js-slider-nav-prev"><i class="fa fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="gallery-nav__btn gallery-nav__btn_next js-slider-nav-next"><i class="fa fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
  </div>

  <div class="popup-window__inner">
    <p class="popup-window__desc">Подвесной светильник Latitude Marmor Trom с минималистическим декором в современном стиле. Темно-вишневый цвет натурального мрамора с белыми прожилками гармонично вольется в самый притязательный интерьер. Отточенная геометрия благородных очертаний. *Trom - барабан (на датском).</p>

    <div class="popup-window__actions">
      <a href="" class="popup-window__actions-item btn btn_raised btn_m">
        <span class="btn__text">Подробное описание</span>
      </a>
      <a href="" class="popup-window__actions-item btn btn_m">
        <span class="btn__text">Закрыть</span>
      </a>
    </div>
  </div>
</div>