<div class="search-bar is-hidden">
  <form action="" class="search-bar__form form">
    <div class="search-bar__container">
      <div class="search-bar__field">
        <svg class="search-bar__icon icon icon_search icon_light" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#search"></use>
        </svg>

        <input type="text" class="input" placeholder="Введите название товара ...">

        <div class="autocomplete popup is-hidden">
          <div class="autocomplete__title">Аксессуары к светильникам</div>

          <a href="" class="autocomplete__link">
            <img src="img/fish/04.jpg" alt="" class="autocomplete__media">
            <span class="autocomplete__text">Штатив белый для светильника настольный, длина провода 2м</span>
          </a>
          <a href="" class="autocomplete__link">
            <img src="img/fish/04.jpg" alt="" class="autocomplete__media">
            <span class="autocomplete__text">Штатив белый для светильника настольный, длина провода 2м</span>
          </a>
          <a href="" class="autocomplete__link">
            <img src="img/fish/04.jpg" alt="" class="autocomplete__media">
            <span class="autocomplete__text">Штатив белый для светильника настольный, длина провода 2м</span>
          </a>

          <a href="" class="autocomplete__btn btn btn_s">
            <span class="btn__text">Все результаты поиска</span>
          </a>
        </div>
      </div>

      <button class="btn btn_primary">
        <span class="btn__text">Найти</span>
      </button>

      <a href="" class="search-bar__icon">
        <svg class="icon icon_close icon_light" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="icons/svg.svg#close"></use>
        </svg>
      </a>
    </div>
  </form>
</div>