<div class="mobile-nav">
  <div class="mobile-nav__inner">
    <div class="mobile-nav__content">
      <menu class="shop-controls shop-controls_vertical">
        <li class="shop-controls__item">
          <a class="shop-controls__link shop-controls__link_cart flex" href="">
            <svg class="shop-controls__icon icon icon_cart" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#cart"></use>
            </svg>
            <span class="shop-controls__count">5</span>
            <span class="shop-controls__text">Корзина</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link shop-controls__link_wishlist flex" href="">
            <svg class="shop-controls__icon icon icon_light icon_wishlist" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#wishlist"></use>
            </svg>
            <span class="shop-controls__count">12</span>
            <span class="shop-controls__text">Избранное</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link flex" href="">
            <span class="shop-controls__text">Войти</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link flex" href="">
            <span class="shop-controls__text">Заказы</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link flex" href="">
            <span class="shop-controls__text">Профиль</span>
          </a>
        </li>

        <li class="shop-controls__item">
          <a class="shop-controls__link flex" href="">
            <span class="shop-controls__text">Выйти</span>
          </a>
        </li>
      </menu>

      {{>nav}}

      <div class="mobile-nav__footer">
        <div class="shop-contacts">
          <svg class="shop-contacts__icon icon icon_light icon_phone" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <use xlink:href="icons/svg.svg#phone"></use>
          </svg>
          <div class="shop-contacts__text">
            <span class="shop-contacts__tel">+7 495 966-34-32</span>
            <a class="shop-contacts__link" href="">Заказать звонок</a>
          </div>
        </div>

        <nav class="mobile-nav__list list list_light">
          <li class="list__item"><a class="list__link">О компании </a></li>
          <li class="list__item"><a class="list__link">Бренды </a></li>
          <li class="list__item"><a class="list__link">Доставка и оплата </a></li>
          <li class="list__item"><a class="list__link">Возврат </a></li>
          <li class="list__item"><a class="list__link">B2B </a></li>
          <li class="list__item"><a class="list__link">Блог </a></li>
          <li class="list__item"><a class="list__link">Контакты</a></li>
        </nav>

        <div class="social-list">
          <a class="social-list__item" href="">
            <svg class="icon icon_facebook" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#facebook"></use>
            </svg>
          </a>
          <a class="social-list__item" href="">
            <svg class="icon icon_vk" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#vk"></use>
            </svg>
          </a>
          <a class="social-list__item" href="">
            <svg class="icon icon_inst" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <use xlink:href="icons/svg.svg#inst"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <a class="mobile-nav__close">
    <svg class="icon icon_close icon_dark" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="icons/svg.svg#close"></use>
    </svg>
  </a>

  <div class="overlay"></div>
</div>