<ul class="top-links">
  <li class="top-links__item">
    <a class="top-links__link" href="">О магазине</a>
  </li>
  <li class="top-links__item">
    <a class="top-links__link" href="">Доставка и оплата</a>
  </li>
  <li class="top-links__item">
    <a class="top-links__link" href="">Дизайнерам</a>
  </li>
  <li class="top-links__item">
    <a class="top-links__link" href="">Магазин</a>
  </li>
  <li class="top-links__item">
    <a class="top-links__link" href="">Контакты</a>
  </li>
</ul>


