<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I love BEM</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css?v={{timestamp}}">
  {{>favicon siteUrl="http://localhost:3000"}}
  <!--[if IE 9]>
    <link rel="stylesheet" href="css/ie9.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {{>header}}

  <div class="container">

    <div class="container__head">
      <h1 class="headline">Корзина</h1>
    </div>

    <div class="cart">
      <div class="cart__left">
        <div class="cart__item">
          <a href="" class="cart__media">
            <img src="img/fish/small-product2.png" alt="" class="cart__img img">
          </a>

          <div class="cart__details">
            <h2 class="cart__product-name"><a href="">Подвесной светильник, LATITUDE Marmor Trom</a></h2>
            <div class="cart__price price price_s">
              <div class="price__current">19 900</div>
              <div class="price__old">22 200</div>
            </div>
            <div class="cart__actions">
              <div class="counter">
                <a href="" class="counter__minus"><i class="fa fa-minus" aria-hidden="true"></i></a>
                <span class="counter__text">1</span>
                <a href="" class="counter__plus"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>

              <a href="" class="cart__action-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <use xlink:href="icons/svg.svg#wishlist-dark"></use>
                </svg>
              </a>

              <a href="" class="cart__action-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <use xlink:href="icons/svg.svg#close"></use>
                </svg>
              </a>
            </div>

            <div class="cart__product-article">арт. V2053</div>
          </div>
        </div>

        <div class="cart__item">
          <a href="" class="cart__media">
            <img src="img/fish/small-product2.png" alt="" class="cart__img img">
          </a>

          <div class="cart__details">
            <h2 class="cart__product-name"><a href="">Подвесной светильник, LATITUDE Marmor Trom</a></h2>
            <div class="cart__price">
              <span class="cart__current-price">19 900</span>
              <span class="cart__old-price">22 000</span>
            </div>
            <div class="cart__actions">
              <div class="counter">
                <a href="" class="counter__minus"><i class="fa fa-minus" aria-hidden="true"></i></a>
                <span class="counter__text">1</span>
                <a href="" class="counter__plus"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>

              <a href="" class="cart__action-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <use xlink:href="icons/svg.svg#wishlist-dark"></use>
                </svg>
              </a>

              <a href="" class="cart__action-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <use xlink:href="icons/svg.svg#close"></use>
                </svg>
              </a>
            </div>

            <div class="cart__product-article">арт. V2053</div>
          </div>
        </div>
      </div>

      <div class="cart__right">
        <div class="product-card popup">
          <div class="product-card__avail">В наличии</div>
          <div class="product-card__price">
            <div class="product-card__current-price">19 900</div>
            <div class="product-card__old-price">22 200</div>
          </div>

          <a href="" class="btn btn_wide btn_primary btn_m">
            <span class="btn__text">Оформить заказ</span>
          </a>
        </div>
      </div>
    </div>

    <section class="recommendations">
      <div class="recommendations__head">
        <h2 class="recommendations__title">Вам может понравиться</h2>
      </div>

      <div class="grid tile">
        <div class="grid__row tile">
          <div class="grid__col _66 tile">
            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/big-product.png" alt="">
              </a>
            </div>
          </div>

          <div class="grid__col _33 tile is-vertical">
            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/small-product2.png" alt="">
              </a>
            </div>

            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/small-product2.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid tile">
        <div class="grid__row tile">
          <div class="grid__col _33 tile">
            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/small-product1.png" alt="">
              </a>
            </div>
          </div>

          <div class="grid__col _33 tile">
            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/small-product1.png" alt="">
              </a>
            </div>
          </div>

          <div class="grid__col _33 tile">
            <div class="grid__snippet tile">
              <a href=''>
                <img class='img' src="img/fish/small-product1.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {{>footer}}
  <script src="js/plugins.min.js"></script>
  <script src="js/app.js?v={{timestamp}}"></script>
</body>
</html>
