<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I love BEM</title>
  <link rel="stylesheet" href="css/app.css?v={{timestamp}}">
  {{>favicon siteUrl="http://localhost:3000"}}
  <!--[if IE 9]>
    <link rel="stylesheet" href="css/ie9.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {{>header}}

  <div class="container">

    <div class="container__head">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">Каталог</li>
        <li class="breadcrumbs__item"><i class="fa fa fa-angle-right" aria-hidden="true"></i></li>
      </ul>

      <h1 class="headline">Дом</h1>

      <ul class="categories">
        <li class="categories__item"><a href="" class="categories__link">Аксессуары к светильникам</a></li>
        <li class="categories__item"><a href="" class="categories__link">Декор для стен</a></li>
        <li class="categories__item"><a href="" class="categories__link">Предметы интерьера</a></li>
        <li class="categories__item"><a href="" class="categories__link">Светильники</a></li>
        <li class="categories__item"><a href="" class="categories__link">Текстиль</a></li>
        <li class="categories__item"><a href="" class="categories__link">Часы</a></li>
        <li class="categories__item"><a href="" class="categories__link">Электрофурнитура</a></li>
        <li class="categories__item"><a href="" class="categories__link">Арт</a></li>
      </ul>

      <div class="filter">
        <div class="filter__top">
          <ul class="filter__controls">
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link is-selected">
                <span class="filter__controls-elem">
                  Цена
                </span>
                <svg class="filter__controls-clear icon icon_light icon_s icon_close" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <use xlink:href="icons/svg.svg#close"></use>
                </svg>
              </a>

              <div class="popup popup-filter">
                <div class="popup-filter__inner">
                  <div class="input-container">
                    <input class="input-checkbox" type="checkbox" name="price_500" id="price_500">
                    <label for="price_500" class="label-checkbox">До 5 000</label>
                  </div>

                  <div class="input-container">
                    <input class="input-checkbox" type="checkbox" name="price_5000" id="price_5000">
                    <label for="price_5000" class="label-checkbox">От 5 000 до 10 000</label>
                  </div>

                  <div class="input-container">
                    <input class="input-checkbox" type="checkbox" name="price_600" id="price_600">
                    <label for="price_600" class="label-checkbox">От 15 000 до 20 000</label>
                  </div>

                  <div class="input-container">
                    <input class="input-checkbox" type="checkbox" name="price_700" id="price_700">
                    <label for="price_700" class="label-checkbox">От 50 000 до 100 000</label>
                  </div>
                </div>

                <a class="clear-btn">
                  <svg class="clear-btn__item icon icon_s icon_close" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <use xlink:href="icons/svg.svg#close"></use>
                  </svg>
                  <span class="clear-btn__item clear-btn__text">сбросить фильтр</span>
                </a>
              </div>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Бренд</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Цвет</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Стиль</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Материал</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Размер</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Страна</span>
              </a>
            </li>
            <li class="filter__controls-item">
              <a href="" class="filter__controls-link">
                <span class="filter__controls-elem">Сортировать <strong>по цене</strong></span>
              </a>

              <div class="popup popup-filter">
                <div class="popup-filter__inner">
                  <div class="input-container">
                    <a href="">по умолчанию</a>
                  </div>

                  <div class="input-container">
                    <a href="">по цене, сначала недорогие</a>
                  </div>

                  <div class="input-container">
                    <a href="">по цене, сначала дорогие</a>
                  </div>

                  <div class="input-container">
                    <a href="">по популярности</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="filter__bottom">
          <ul class="filter__result">
            <li class="filter__result-item">Цена: От 5 000 до 10 000 ₽ (+1)</li>
            <li class="filter__result-item">Бренд: Alexander Kanygin (+3)</li>
            <li class="filter__result-item">Цвет: Белый (+2)</li>
            <li class="filter__result-item">Стиль: Скандинавский (+2)</li>
            <li class="filter__result-item">Материал: Металл (+2)</li>
            <li class="filter__result-item">Размер: Диаметр от 30 до 50 см (+1)</li>
            <li class="filter__result-item">
              <a class="filter__result-reset" href="">СБРОСИТЬ ФИЛЬТРЫ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{>index/productGridTop}}
    {{>index/productGridTop}}

    <div class="container__footer">
      {{>showMore}}
      {{>pagination}}
    </div>
  </div>

  {{>footer}}
  <script src="js/plugins.min.js"></script>
  <script src="js/app.js?v={{timestamp}}"></script>
</body>
</html>
